policy_module(consul-template, 1.0.0)

########################################
#
# Declarations
#

type consul_template_t;
type consul_template_exec_t;
init_daemon_domain(consul_template_t, consul_template_exec_t)


permissive consul_template_t;

########################################
#
# consul-template local policy
#

