policy_module(custom-server, 1.0.0)


########################################
#
# Declarations
#

## <desc>
## <p>
## Allow nginx to read portage files
## </p>
## </desc>
gen_tunable(nginx_can_read_ebuild, false)

####### Policy

# NGINX optional policy
optional_policy(`
  gen_require(`
    type nginx_t;
  ')

  allow nginx_t self:capability { dac_override dac_read_search };

  tunable_policy(`nginx_can_read_ebuild',`
    portage_read_ebuild(nginx_t)
  ')

')

gen_require(`
        type portage_exec_t, portage_ebuild_t, portage_t;
        type cert_t;
')

allow portage_t portage_ebuild_t:file map;
# type=AVC msg=audit(1563493740.990:255278): avc:  denied  { map } for  pid=25705 comm="trust" path="/etc/ssl/certs/ca-certificates.crt" dev="xvda" ino=65306702 scontext=system_u:system_r:portage_t:s0-s0:c0.c1023 tcontext=system_u:object_r:cert_t:s0 tclass=file permissive=0
allow portage_t cert_t:file map;
kernel_mounton_proc(portage_t)
kernel_mount_proc(portage_t)


optional_policy(`
	gen_require(`
		type salt_minion_t;
	')

	corenet_udp_bind_generic_node(salt_minion_t)
')
