#
#######################################
## <summary>
##      The template to define a nagios plugin domain.
## </summary>
## <param name="domain_prefix">
##      <summary>
##      Domain prefix to be used.
##      </summary>
## </param>
#
template(`nagios_plugin_template_nonsystem',`
        gen_require(`
                attribute nagios_plugin_domain;
                type user_t, staff_t;
                role user_r, staff_r;
                type nagios_$1_plugin_t, nagios_$1_plugin_exec_t;
        ')

        ########################################
        #
        # Declarations
        #

        role user_r types nagios_$1_plugin_t;
        role staff_r types nagios_$1_plugin_t;

        ########################################
        #
        # Policy
        #

        domtrans_pattern(user_t, nagios_$1_plugin_exec_t, nagios_$1_plugin_t)
        domtrans_pattern(staff_t, nagios_$1_plugin_exec_t, nagios_$1_plugin_t)
        domain_use_interactive_fds(nagios_$1_plugin_t)
        ssh_rw_pipes(nagios_$1_plugin_t)
        files_search_all_mountpoints(nagios_$1_plugin_t)
')

########################################
## <summary>
##      Mutt role access for mta.
## </summary>
## <param name="role">
##      <summary>
##      Role allowed access.
##      </summary>
## </param>
## <param name="domain">
##      <summary>
##      User domain for the role.
##      </summary>
## </param>
#
interface(`mutt_user_mta',`
        gen_require(`
                attribute mta_user_agent;
                type user_mail_t, sendmail_exec_t, mail_home_t;
                type user_mail_tmp_t, mail_home_rw_t;
        ')

        domtrans_pattern($1, sendmail_exec_t, user_mail_t)
        allow $1 sendmail_exec_t:lnk_file read_lnk_file_perms;

        allow $1 { user_mail_t mta_user_agent }:process { ptrace signal_perms };
        ps_process_pattern($1, { user_mail_t mta_user_agent })

        allow $1 mail_home_t:file { manage_file_perms relabel_file_perms };
        userdom_user_home_dir_filetrans($1, mail_home_t, file, ".esmtp_queue")
        userdom_user_home_dir_filetrans($1, mail_home_t, file, ".forward")
        userdom_user_home_dir_filetrans($1, mail_home_t, file, ".mailrc")
        userdom_user_home_dir_filetrans($1, mail_home_t, file, "dead.letter")

        allow $1 mail_home_rw_t:dir { manage_dir_perms relabel_dir_perms };
        allow $1 mail_home_rw_t:file { manage_file_perms relabel_file_perms };
        allow $1 mail_home_rw_t:lnk_file { manage_lnk_file_perms relabel_lnk_file_perms };
        userdom_user_home_dir_filetrans($1, mail_home_rw_t, dir, "Maildir")
        userdom_user_home_dir_filetrans($1, mail_home_rw_t, dir, ".maildir")

        allow $1 user_mail_tmp_t:dir { manage_dir_perms relabel_dir_perms };
        allow $1 user_mail_tmp_t:file { manage_file_perms relabel_file_perms };

	mutt_read_tmp_files(user_mail_t)
')
